<% title "Pages" %>
<h1 class="title" style="margin:10px 0;">Pages</h1>


<table id="list" style="margin:10px 0;">
	<thead>
  <tr>
    <th class="title">Name</th>
    <th>Navlabel</th>
    <th>Position</th>
    <th>Parent</th>
    <th>Simples</th>
    <th>Subpages</th>
 	<th></th>		<th></th>	<th></th>	
  </tr>
	</thead>
	<tbody>
	<%= render :partial => @pages %>
	</tbody>
</table>



<% content_for(:options) do %>
	<h1>Options</h1>
	<ul>
		<li><p><%= link_to "New Page", new_admin_page_path %></p></li>
	</ul>
<% end %>

<% content_for(:script) do %>
<script>
$(document).ready(function() {
 	$('#list').dataTable();
});
</script>
<% end %>