<% title "Page | New" %>
<h1>New Page</h1>
<%= render 'form' %>

<% content_for(:options) do %>
	<h1>Options</h1>
	<ul>
		<li>
		<p><%= link_to "Back to List", admin_pages_path %></p></li>
	</ul>
<% end %>
<% content_for(:script) do %>
<script>
	$(function() {
			$("form").validationEngine();
			$("label[for=page_home]").html('Top Image'+$("#hint_1").html());
			$("#hint_1").remove();
			JT_init();
	});
	</script>
<% end %>