<li>
	<span>
	<%= center_link.start_at.strftime("%d %b") if center_link.category.parent.title=="What's On" %>
	<%= center_link.published_on.strftime("%d %b") if center_link.category.parent.title=="News" %></span>
	<ul class="items">
		<li>
			<h3 class="uc"><%= link_to center_link.title, viewer_index_filtered_posts_path(center_link.category.parent.page.title.gsub(" ","-").downcase,center_link.category.parent.navlabel.gsub(" ","_")) %></h3>
			<%= truncate_html(center_link.body.html_safe, :length => 50) %>
		</li>
	</ul>
</li>