<div class="header" id="upcoming_events">
	<h2><%= link_to "Up coming events", "/visiting-iona/cat/Whats_On" %> </h2>
</div>
<ul class="holder">
	<%= render :partial => "shared/home/center_link", :collection => @up_coming_events.sort{|a,b| a.start_at <=> b.start_at}.take(2) %>
</ul>