<div class="header" id="upcoming_events">
	<h2>Up & Coming events </h2>
</div>
<ul class="holder">

		<%= render :partial => "shared/home/center_link", :collection => @up_coming_events.sort{|a,b| a.published_on <=> b.published_on}.take(2) %>

</ul>