/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../src/screen.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

/* line 20, ../src/screen.scss */
body {
  font-family: verdana;
  font-size: 10px;
  position: relative;
  background: white;
}
/* line 29, ../src/screen.scss */
body p {
  margin: 5px 0;
}
/* line 32, ../src/screen.scss */
body p strong, body p b {
  font-weight: bold;
}
/* line 38, ../src/screen.scss */
body #wrapper header.nohome {
  margin-bottom: 25px;
}
/* line 42, ../src/screen.scss */
body #wrapper header#top {
  height: 165px;
  width: 940px;
  float: left;
  margin-left: 15px;
}
/* line 51, ../src/screen.scss */
body #wrapper header#top img#logo {
  margin-top: 67px;
  margin-bottom: 4px;
}
/* line 57, ../src/screen.scss */
body #wrapper header#top #weather_box {
  top: 53px;
  margin-left: 747px;
  margin-bottom: 4px;
  position: absolute;
  width: 210px;
}
/* line 68, ../src/screen.scss */
body #wrapper header#top #weather_box .img_holder {
  float: left;
  height: 50px;
}
/* line 69, ../src/screen.scss */
body #wrapper header#top #weather_box .img_holder img {
  border: 1px solid #7a7a7a;
  padding: 2px;
  float: left;
  margin-right: 5px;
}
/* line 84, ../src/screen.scss */
body #wrapper header#top #weather_box h4 {
  font-size: 18px;
  margin-top: 15px;
}
/* line 90, ../src/screen.scss */
body #wrapper header#top #weather_box h4, body #wrapper header#top #weather_box p {
  float: left;
}
/* line 94, ../src/screen.scss */
body #wrapper header#top #weather_box p {
  width: 116px;
}
/* line 99, ../src/screen.scss */
body #wrapper header#top nav {
  width: 930px;
  height: 48px;
  float: left;
  position: absolute;
  background: url(/images/system/bg/header.png) repeat-x 0 -115px;
  box-shadow: 0px 4px 6px #7A7A7A;
}
/* line 112, ../src/screen.scss */
body #wrapper header#top nav ul {
  float: left;
}
/* line 115, ../src/screen.scss */
body #wrapper header#top nav ul li:hover {
  background: url(/images/system/bg/navigation_selected.png) repeat-x;
  position: relative;
  z-index: 10;
}
/* line 124, ../src/screen.scss */
body #wrapper header#top nav ul li.selected {
  background: url(/images/system/bg/navigation_selected.png) repeat-x;
  cursor: hand;
  margin-top: 1px;
  position: relative;
  z-index: 20;
  height: 47px;
}
/* line 140, ../src/screen.scss */
body #wrapper header#top nav ul li.selected a {
  color: #3E4F71;
}
/* line 145, ../src/screen.scss */
body #wrapper header#top nav ul li {
  float: left;
  height: 47px;
  padding: 0;
  text-align: center;
  margin-top: 1px;
}
/* line 146, ../src/screen.scss */
body #wrapper header#top nav ul li .arrow {
  width: 18px;
  height: 11px;
  background: url(/images/system/bg/sprites.png) -341px 0;
  position: absolute;
  margin-top: 48px;
  z-index: 10;
}
/* line 171, ../src/screen.scss */
body #wrapper header#top nav ul li a {
  padding: 19px 15px;
  float: left;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "HelveticaNeueLTCom55Roman";
  font-size: 12px;
  letter-spacing: 0.4px;
}
/* line 193, ../src/screen.scss */
body #wrapper section#main.admin {
  margin-top: 25px;
}
/* line 196, ../src/screen.scss */
body #wrapper section#main.admin section#center {
  width: 748px;
}
/* line 201, ../src/screen.scss */
body #wrapper section#main {
  float: left;
  margin-top: 0px;
  margin-left: 15px;
}
/* line 208, ../src/screen.scss */
body #wrapper section#main img.header {
  margin-top: 8px;
  margin-bottom: 25px;
  box-shadow: 0px 2px 4px #7A7A7A;
}
/* line 216, ../src/screen.scss */
body #wrapper section#main h1 {
  color: #787777;
  font-size: 14px;
}
/* line 223, ../src/screen.scss */
body #wrapper section#main section.side h1 {
  padding: 7px 10px;
  background: url(/images/system/bg/header.png) repeat-x 0 -127px;
  font-family: "HelveticaNeueLTCom55Roman";
  border-radius: 4px;
}
/* line 234, ../src/screen.scss */
body #wrapper section#main section#left-column {
  width: 157px;
  margin-left: 0px;
  padding-bottom: 0px;
}
/* line 241, ../src/screen.scss */
body #wrapper section#main section#left-column h1 {
  width: 147px;
  height: 34px;
  padding: 12px  0 0 11px;
  background: url(/images/system/bg/sprites.png) 0 0;
  color: white;
}
/* line 253, ../src/screen.scss */
body #wrapper section#main section#left-column h1.light {
  height: 34px;
  padding: 12px  0 0 11px;
  background: url(/images/system/bg/sprites.png) 0px -196px;
  color: #787777;
  font-family: "HelveticaNeueLTCom75Bold";
}
/* line 265, ../src/screen.scss */
body #wrapper section#main section#left-column h2 {
  font-family: "HelveticaNeueLTCom75Bold";
  font-size: 14px;
  color: #9BA735;
  margin: 15px 0 5px 0;
  padding-left: 11px;
}
/* line 277, ../src/screen.scss */
body #wrapper section#main section#left-column ul {
  padding-left: 11px;
}
/* line 281, ../src/screen.scss */
body #wrapper section#main section#left-column ul li.selected a {
  color: #9ba735;
  cursor: text;
}
/* line 288, ../src/screen.scss */
body #wrapper section#main section#left-column ul li {
  padding-left: 2px;
  font-size: 14px;
  font-family: "HelveticaNeueLTCom55Roman";
  margin: 5px 0;
}
/* line 297, ../src/screen.scss */
body #wrapper section#main section#left-column ul li a {
  color: #9a9a9a;
  text-decoration: none;
}
/* line 303, ../src/screen.scss */
body #wrapper section#main section#left-column ul li a:hover {
  color: #9ba735;
}
/* line 309, ../src/screen.scss */
body #wrapper section#main section#left-column p {
  font-size: 12px;
  font-family: "HelveticaNeueLTCom55Roman";
  color: #9a9a9a;
  padding-left: 13px;
  margin: 0px 0;
  line-height: 20px;
}
/* line 323, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link {
  width: 157px;
  height: 58px;
  background: url(/images/system/bg/sprites.png) 0 -47px;
  margin-bottom: 10px;
}
/* line 332, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "HelveticaNeueLTCom55Roman";
}
/* line 341, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link h3 a {
  color: #53a5da;
}
/* line 344, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link h3 a span {
  color: #9ba735;
}
/* line 350, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link h3 a:hover span {
  text-decoration: underline;
  color: #53a5da;
}
/* line 358, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link #map_link {
  background: url(/images/system/bg/sprites.png) -157px 0;
}
/* line 362, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link #photo_link {
  background: url(/images/system/bg/sprites.png) -187px 0;
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
/* line 372, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link .icon {
  float: left;
  width: 30px;
  height: 30px;
  background: red;
  margin: 13px 0 0 16px;
  position: absolute;
}
/* line 386, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link h3 {
  float: left;
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 393, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link h3 a {
  text-decoration: none;
  padding: 23px 22px 20px 50px;
  float: left;
  width: 84px;
}
/* line 403, ../src/screen.scss */
body #wrapper section#main section#left-column .large_link h3 a:hover {
  box-shadow: 0 0 3px 3px #EFEFEF;
  border-radius: 5px;
  text-decoration: none;
  color: #53a5da;
}
/* line 417, ../src/screen.scss */
body #wrapper section#main section#right-column {
  width: 129px;
  float: left;
  margin: 0px;
}
/* line 424, ../src/screen.scss */
body #wrapper section#main section#right-column h1 {
  width: 118px;
  height: 35px;
  padding: 11px  0 0 11px;
  background: url(/images/system/bg/sprites.png) -211px 0;
  font-family: "HelveticaNeueLTCom75Bold";
}
/* line 436, ../src/screen.scss */
body #wrapper section#main section#right-column ul#social {
  padding: 0 5px;
  margin: 10px 0 10px 10px;
}
/* line 441, ../src/screen.scss */
body #wrapper section#main section#right-column ul#social li {
  display: inline;
}
/* line 444, ../src/screen.scss */
body #wrapper section#main section#right-column ul#social li img:hover {
  box-shadow: 0 0 2px 2px #C4C4C4;
  border-radius: 12px;
  text-decoration: none;
}
/* line 454, ../src/screen.scss */
body #wrapper section#main section#right-column ul#q_gallery {
  padding: 0 2px;
  margin-top: 5px;
}
/* line 459, ../src/screen.scss */
body #wrapper section#main section#right-column ul#q_gallery li {
  margin: 0 0 10px 0;
  float: left;
}
/* line 464, ../src/screen.scss */
body #wrapper section#main section#right-column ul#q_gallery li a {
  float: left;
  height: 68px;
}
/* line 470, ../src/screen.scss */
body #wrapper section#main section#right-column ul#q_gallery li a:hover {
  box-shadow: 0 0 2px 2px #C4C4C4;
}
/* line 477, ../src/screen.scss */
body #wrapper section#main section#center.wide {
  width: 753px;
  padding-right: 0px;
}
/* line 483, ../src/screen.scss */
body #wrapper section#main section#center {
  width: 610px;
  padding-right: 5px;
  float: left;
  color: #848484;
}
/* line 493, ../src/screen.scss */
body #wrapper section#main section#center ul#maps li {
  float: left;
  margin-bottom: 15px;
}
/* line 498, ../src/screen.scss */
body #wrapper section#main section#center ul#maps li h2 {
  font-size: 16px;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
/* line 507, ../src/screen.scss */
body #wrapper section#main section#center ul#maps li h2 small {
  font-size: 14px;
}
/* line 514, ../src/screen.scss */
body #wrapper section#main section#center ul.filter {
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  float: left;
  margin-top: 5px;
}
/* line 523, ../src/screen.scss */
body #wrapper section#main section#center ul.filter li.selected {
  display: none;
}
/* line 526, ../src/screen.scss */
body #wrapper section#main section#center ul.filter li.selected a.selected {
  display: none;
}
/* line 531, ../src/screen.scss */
body #wrapper section#main section#center ul.filter li {
  display: inline;
  padding: 0 10px 5px 0;
  float: left;
  font-size: 14px;
  font-family: "HelveticaNeueLTCom55Roman";
}
/* line 542, ../src/screen.scss */
body #wrapper section#main section#center ul.filter li a {
  color: #9A9A9A;
  text-decoration: none;
}
/* line 549, ../src/screen.scss */
body #wrapper section#main section#center ul.filter li a:hover {
  text-decoration: underline;
  color: #8EA529;
}
/* line 558, ../src/screen.scss */
body #wrapper section#main section#center h1.title {
  border-bottom: 1px solid #dcdcdc;
  color: #3E4F71;
  margin-bottom: 0px;
}
/* line 565, ../src/screen.scss */
body #wrapper section#main section#center h1.title div {
  font-size: 15px;
}
/* line 568, ../src/screen.scss */
body #wrapper section#main section#center h1.title div a {
  color: #3E4F71;
  text-decoration: none;
}
/* line 575, ../src/screen.scss */
body #wrapper section#main section#center h1.title div a:hover {
  text-decoration: underline;
}
/* line 580, ../src/screen.scss */
body #wrapper section#main section#center h1.title a.maps {
  color: #3E4F71;
  font-size: 60%;
}
/* line 587, ../src/screen.scss */
body #wrapper section#main section#center h1 {
  color: #3E4F71;
  margin-bottom: 0px;
}
/* line 592, ../src/screen.scss */
body #wrapper section#main section#center h1 a {
  color: #3E4F71;
  text-decoration: none;
}
/* line 599, ../src/screen.scss */
body #wrapper section#main section#center h1 a:hover {
  text-decoration: underline;
}
/* line 605, ../src/screen.scss */
body #wrapper section#main section#center a img:hover {
  -moz-box-shadow: #333333 0px 0px 4px;
  -webkit-box-shadow: #333333 0px 0px 4px;
  -o-box-shadow: #333333 0px 0px 4px;
  box-shadow: #333333 0px 0px 4px;
}
/* line 610, ../src/screen.scss */
body #wrapper section#main section#center h2 {
  font-size: 18px;
  font-family: "HelveticaNeueLTCom55Roman";
}
/* line 616, ../src/screen.scss */
body #wrapper section#main section#center h1 {
  font-size: 24px;
  padding: 0px 4px 0px 0;
  margin: 10px 0px 0 0;
  color: #3C4D6F;
  font-family: "HelveticaNeueLTCom55Roman";
}
/* line 627, ../src/screen.scss */
body #wrapper section#main section#center h1 span {
  color: #9ba735;
  font-family: "HelveticaNeueLTCom75Bold";
}
/* line 634, ../src/screen.scss */
body #wrapper section#main section#center h1 span.actions {
  font-size: 13px;
  font-family: "HelveticaNeueLTCom55Roman";
  color: #888;
  float: right;
  margin-top: 5px;
  width: 175px;
}
/* line 647, ../src/screen.scss */
body #wrapper section#main section#center h1 span.actions img {
  margin: 0px  0 0 0;
  float: left;
  margin-right: 3px;
}
/* line 655, ../src/screen.scss */
body #wrapper section#main section#center h1 span.actions a {
  float: left;
  margin-right: 3px;
  text-decoration: none;
  color: #888;
}
/* line 665, ../src/screen.scss */
body #wrapper section#main section#center h1 span.actions a:hover {
  text-decoration: underline;
}
/* line 669, ../src/screen.scss */
body #wrapper section#main section#center h1 span.actions span.at300bs {
  margin-top: -3px;
}
/* line 673, ../src/screen.scss */
body #wrapper section#main section#center h1 span.actions span.addthis_separator {
  margin-top: -3px;
}
/* line 678, ../src/screen.scss */
body #wrapper section#main section#center h1 span.posts {
  margin-top: 5px;
}
/* line 683, ../src/screen.scss */
body #wrapper section#main section#center p {
  font-size: 16px;
  font-family: "HelveticaNeueLTCom35Thin";
  line-height: 20px;
  padding: 0px 0px 0px 0;
}
/* line 692, ../src/screen.scss */
body #wrapper section#main section#center p a {
  color: #9BA735;
  text-decoration: none;
  font-weight: bold;
}
/* line 700, ../src/screen.scss */
body #wrapper section#main section#center p a:hover {
  text-decoration: underline;
}
/* line 704, ../src/screen.scss */
body #wrapper section#main section#center p strong, body #wrapper section#main section#center p b {
  color: #3C4D6F;
}
/* line 709, ../src/screen.scss */
body #wrapper section#main section#center p.tmbrdr {
  padding: 0px;
}
/* line 713, ../src/screen.scss */
body #wrapper section#main section#center p.ad-image-description {
  padding: 10px 20px 10px 20px;
}
/* line 717, ../src/screen.scss */
body #wrapper section#main section#center img {
  margin: 5px 0 5px 0;
}
/* line 723, ../src/screen.scss */
body #wrapper section#main section#center #sitelinks ul li {
  line-height: 22px;
  font-size: 16px;
  font-family: "HelveticaNeueLTCom35Thin";
}
/* line 730, ../src/screen.scss */
body #wrapper section#main section#center #sitelinks ul li ul {
  margin-left: 10px;
}
/* line 734, ../src/screen.scss */
body #wrapper section#main section#center #sitelinks ul li ul li ul {
  margin-left: 10px;
}
/* line 743, ../src/screen.scss */
body #wrapper section#main section#center .double_columns {
  width: 610px;
  background: green;
  margin-top: 7px;
}
/* line 750, ../src/screen.scss */
body #wrapper section#main section#center .double_columns .holder_div {
  width: 302px;
  float: left;
}
/* line 756, ../src/screen.scss */
body #wrapper section#main section#center .double_columns .left_one {
  margin-right: 5px;
}
/* line 760, ../src/screen.scss */
body #wrapper section#main section#center .double_columns .header {
  width: 303px;
  height: 45px;
  background: url(/images/system/bg/sprites.png) no-repeat;
  float: left;
}
/* line 769, ../src/screen.scss */
body #wrapper section#main section#center .double_columns .header h2 {
  font-family: "HelveticaNeueLTCom75Bold";
  color: white;
  font-size: 14px;
  padding: 12px 0 0 30px;
}
/* line 781, ../src/screen.scss */
body #wrapper section#main section#center .double_columns ul.holder {
  float: left;
  width: 80%;
  margin: 10px 15% 0 5%;
}
/* line 788, ../src/screen.scss */
body #wrapper section#main section#center .double_columns ul.holder li {
  float: left;
  width: 100%;
}
/* line 793, ../src/screen.scss */
body #wrapper section#main section#center .double_columns ul.holder li span {
  width: 25%;
  float: left;
  margin-top: 3px;
}
/* line 801, ../src/screen.scss */
body #wrapper section#main section#center .double_columns ul.holder li ul.items {
  float: left;
  width: 75%;
}
/* line 807, ../src/screen.scss */
body #wrapper section#main section#center .double_columns ul.holder li ul.items li h3 {
  font-size: 14px;
}
/* line 810, ../src/screen.scss */
body #wrapper section#main section#center .double_columns ul.holder li ul.items li h3 a {
  text-decoration: none;
  color: inherit;
}
/* line 816, ../src/screen.scss */
body #wrapper section#main section#center .double_columns ul.holder li ul.items li h3 a:hover {
  text-decoration: underline;
}
/* line 821, ../src/screen.scss */
body #wrapper section#main section#center .double_columns ul.holder li ul.items li p {
  font-size: 14px;
  line-height: 18px;
  padding: 0px;
}
/* line 833, ../src/screen.scss */
body #wrapper section#main section#center .double_columns #upcoming_events {
  background-position: -1px -105px;
  width: 302px;
}
/* line 840, ../src/screen.scss */
body #wrapper section#main section#center .double_columns h3.uc {
  color: #97ac2d;
}
/* line 844, ../src/screen.scss */
body #wrapper section#main section#center .double_columns h3.ln {
  color: #6f783f;
}
/* line 848, ../src/screen.scss */
body #wrapper section#main section#center .double_columns #latest_news {
  background-position: 0 -150px;
}
/* line 851, ../src/screen.scss */
body #wrapper section#main section#center .double_columns #latest_news h3 {
  color: #6f783f;
}
/* line 857, ../src/screen.scss */
body #wrapper section#main section#center #paginator {
  float: left;
  margin: 10px 0;
}
/* line 862, ../src/screen.scss */
body #wrapper section#main section#center #paginator .pagination {
  font-size: 15px;
  font-family: "HelveticaNeueLTCom55Roman";
}
/* line 868, ../src/screen.scss */
body #wrapper section#main section#center #paginator .pagination span a {
  color: #3E4F71;
  text-decoration: none;
}
/* line 875, ../src/screen.scss */
body #wrapper section#main section#center #paginator .pagination span a:hover {
  text-decoration: underline;
}
/* line 882, ../src/screen.scss */
body #wrapper section#main section#center div#tabs, body #wrapper section#main section#center ul#maps {
  border: 0px none;
  background: transparent;
  width: 100%;
  float: left;
}
/* line 891, ../src/screen.scss */
body #wrapper section#main section#center div#tabs ul.filter, body #wrapper section#main section#center ul#maps ul.filter {
  background: white;
  border: 0px none;
}
/* line 896, ../src/screen.scss */
body #wrapper section#main section#center div#tabs ul.filter li, body #wrapper section#main section#center ul#maps ul.filter li {
  padding: 0 20px;
}
/* line 905, ../src/screen.scss */
body #wrapper section#main section#center div#tabs div.map_holder, body #wrapper section#main section#center ul#maps div.map_holder {
  width: 100%;
  padding: 0 20px 20px 0px;
}
/* line 911, ../src/screen.scss */
body #wrapper section#main section#center div#tabs div.map_holder, body #wrapper section#main section#center div#tabs li, body #wrapper section#main section#center ul#maps div.map_holder, body #wrapper section#main section#center ul#maps li {
  margin-bottom: 10px;
  float: left;
}
/* line 917, ../src/screen.scss */
body #wrapper section#main section#center div#tabs div.map_holder iframe, body #wrapper section#main section#center div#tabs li iframe, body #wrapper section#main section#center ul#maps div.map_holder iframe, body #wrapper section#main section#center ul#maps li iframe {
  border: 1px solid #9a9a9a;
  padding: 10px;
  width: 97%;
  height: 567px;
  margin-bottom: 10px;
}
/* line 932, ../src/screen.scss */
body #wrapper section#main section#center div#tabs div.map_holder a, body #wrapper section#main section#center div#tabs li a, body #wrapper section#main section#center ul#maps div.map_holder a, body #wrapper section#main section#center ul#maps li a {
  color: #9A9A9A;
  text-decoration: none;
}
/* line 939, ../src/screen.scss */
body #wrapper section#main section#center div#tabs div.map_holder a:hover, body #wrapper section#main section#center div#tabs li a:hover, body #wrapper section#main section#center ul#maps div.map_holder a:hover, body #wrapper section#main section#center ul#maps li a:hover {
  text-decoration: underline;
  color: #8EA529;
}
/* line 947, ../src/screen.scss */
body #wrapper section#main section#center ul#posts {
  float: left;
}
/* line 950, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li {
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  float: left;
  margin-top: 15px;
  padding-bottom: 15px;
}
/* line 961, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li h2, body #wrapper section#main section#center ul#posts li h3 {
  float: left;
  font-family: "HelveticaNeueLTCom75Bold";
}
/* line 967, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li h2 {
  margin-top: 5px;
}
/* line 971, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li h3 {
  background: #e2e3df;
  padding: 7px 10px 6px;
  font-size: 14px;
  color: #525252;
}
/* line 980, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li h3 a {
  text-decoration: none;
  color: #525252;
}
/* line 986, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li h3 a:hover {
  color: #525252;
  text-decoration: underline;
}
/* line 993, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.blocks {
  float: left;
  min-height: 165px;
}
/* line 999, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.image_holder {
  width: 136px;
  background: transparent;
}
/* line 1004, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.image_holder img {
  padding: 0px;
}
/* line 1009, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.image_holder img.large {
  margin-bottom: 0px;
  padding: 2px;
  border: 1px solid #dcdcdc;
}
/* line 1017, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.image_holder img.center {
  margin-left: 1px;
  margin-right: 1px;
  padding: 0px;
}
/* line 1025, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.image_holder img.small {
  padding: 0px;
  border: 1px solid #dcdcdc;
}
/* line 1032, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.image_holder a img:hover {
  -moz-box-shadow: #333333 0px 0px 4px;
  -webkit-box-shadow: #333333 0px 0px 4px;
  -o-box-shadow: #333333 0px 0px 4px;
  box-shadow: #333333 0px 0px 4px;
}
/* line 1037, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.main_content {
  width: 259px;
  background: transparent;
  padding: 0 15px;
  border-right: 1px solid #dcdcdc;
}
/* line 1047, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.main_content h2 {
  width: 100%;
  font-size: 17px;
  color: #8ea529;
  padding: 5px 0 3px;
}
/* line 1058, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.main_content p {
  font-size: 15px;
  float: left;
  padding-top: 0;
  margin-top: 0px;
  width: 80%;
}
/* line 1069, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.main_content p time {
  font-size: 12px;
}
/* line 1074, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.main_content p.gotolink {
  float: right;
  font-size: 14px;
  text-align: right;
}
/* line 1081, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.main_content p.gotolink a {
  color: #8ea529;
  font-weight: bold;
  text-decoration: none;
}
/* line 1089, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.main_content p.gotolink a:hover {
  text-decoration: underline;
}
/* line 1095, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.News {
  width: 576px;
  border-right: 0px none;
}
/* line 1101, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.extra_info {
  width: 295px;
  padding-left: 15px;
  background: transparent;
}
/* line 1108, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.extra_info table {
  float: left;
  width: 295px;
  margin: 10px 0;
}
/* line 1116, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.extra_info table tr td.space {
  width: 15px;
  height: 15px;
  float: left;
}
/* line 1124, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.extra_info table tr td.title {
  font-weight: bold;
  width: 24%;
  vertical-align: top;
}
/* line 1133, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.extra_info table tr td.descr p {
  width: 200px;
}
/* line 1140, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.extra_info table tr td p {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}
/* line 1147, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.extra_info table tr td p a {
  color: #8ea529;
  font-weight: bold;
  text-decoration: none;
}
/* line 1155, ../src/screen.scss */
body #wrapper section#main section#center ul#posts li div.extra_info table tr td p a:hover {
  text-decoration: underline;
}
/* line 1169, ../src/screen.scss */
body #wrapper section#main section#center table tr td img {
  margin-bottom: 0px;
}
/* line 1179, ../src/screen.scss */
body footer {
  float: left;
  width: 940px;
  background: #73b13f;
  color: white;
  margin: 10px 0 20px 10px;
  box-shadow: 0 6px 8px 4px #7A7A7A;
}
/* line 1193, ../src/screen.scss */
body footer h2 {
  font-size: 16px;
  padding: 20px 20px 10px 20px;
}
/* line 1199, ../src/screen.scss */
body footer #copyright {
  width: 908px;
  padding: 13px;
  float: left;
}
/* line 1206, ../src/screen.scss */
body footer #copyright p {
  margin: 0px 10px;
}
/* line 1209, ../src/screen.scss */
body footer #copyright p a {
  color: white;
  text-decoration: none;
}
/* line 1215, ../src/screen.scss */
body footer #copyright p a:hover {
  text-decoration: underline;
}
/* line 1221, ../src/screen.scss */
body footer #sitemap {
  float: left;
  width: 940px;
  background: url(/images/system/bg/footer_blue.png) repeat;
}
/* line 1229, ../src/screen.scss */
body footer ul {
  width: 890px;
  float: left;
  padding: 0px 0px 0 0px;
  margin: 5px 20px 20px 20px;
}
/* line 1238, ../src/screen.scss */
body footer ul li {
  margin-top: 20px;
  font-size: 10px;
  float: left;
  width: 140px;
  margin-right: 5px;
}
/* line 1249, ../src/screen.scss */
body footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
/* line 1259, ../src/screen.scss */
body footer ul li a:hover {
  text-decoration: underline;
}
/* line 1263, ../src/screen.scss */
body footer ul li strong {
  font-size: 12px;
}
/* line 1267, ../src/screen.scss */
body footer ul li ul {
  width: 120px;
  margin: 0px;
}
/* line 1272, ../src/screen.scss */
body footer ul li ul li {
  line-height: 12px;
  margin: 5px 0 0 0;
}
/* line 1277, ../src/screen.scss */
body footer ul li ul li a {
  font-size: 12px;
  font-weight: normal;
}
/* line 1283, ../src/screen.scss */
body footer ul li ul li ul {
  display: none;
}
