<div class="large_link">
	<div id="map_link" class="icon"></div>
	<h3><%= link_to " <span>Iona Map</span>".html_safe, maps_path %></h3>
</div>
<div class="large_link">
	<div id="photo_link" class="icon"></div>
		<h3><%= link_to "<span>Photos</span>".html_safe, galleries_path %></h3>
</div>