<h1>Quick Gallery:</h1>
<ul id="q_gallery">
	<% Picture.all.shuffle.take(4).each do |u| %>
	<li><%= link_to(image_tag(u.image_url(:large_thumb)), u.image_url, :class=>"group") %></li>
	<% end %>
</ul>