<h1>Follow us:</h1>
<ul id="social">
	<li><%= link_to image_tag("system/social/facebook_32.png"), "#" %></li>
	<li><%=  link_to image_tag("system/social/twitter_32.png"), "#" %></li>	
	<li><%=  link_to  image_tag("system/social/flickr_32.png"), "#" %></li>
</ul>