<div id="weather_box">
    <div class="img_holder">
    <%= image_tag "http://www.google.com/ig/images/weather/cloudy.gif" %>
    </div>
    <h4>6 ºC</h4>
    <p>19 km/h from SE</p>
    <%# @weather %>
</div>