<% title "Posts" %>
<h1 class="title" style="margin:10px 0;">Posts</h1>

<table id="list" style="margin:10px 0;">
	<thead style="border-bottom:1px solid #3C4D6F;">
  <tr>
    <th>Title</th>   
    <th>Category</th>

    <th>Published</th>
    <th>Published On</th>
		
    <th>Uploads</th>
		
 		<th></th>
 		<th></th>
 		<th></th>
  </tr>
	</thead>
	<tbody>
 		<%= render :partial => @posts %>
	</tbody>
</table>


<% content_for(:options) do %>
	<h1>Options</h1>
	<ul>
		<li>
		<p><%= link_to "New Post", new_admin_post_path %></p></li>
					<li><p><%= link_to "List Categories", admin_categories_path %></p></li>
	</ul>
<% end %>
<% content_for(:script) do %>
<script>
$(document).ready(function() {
 	$('#list').dataTable();
});
</script>
<% end %>